USE [master]
GO
/****** Object:  Database [InsuranceServiceDb]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE DATABASE [InsuranceServiceDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InsuranceServiceDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InsuranceServiceDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InsuranceServiceDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InsuranceServiceDb_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InsuranceServiceDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InsuranceServiceDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationDrafts]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationDrafts](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ApplicationType] [nvarchar](50) NOT NULL,
	[DraftData] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_ApplicationDrafts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationNumber] [nvarchar](20) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CoverageAmount] [decimal](18, 2) NOT NULL,
	[TermYears] [int] NOT NULL,
	[PaymentFrequency] [nvarchar](50) NOT NULL,
	[PremiumAmount] [decimal](18, 2) NOT NULL,
	[IsLumpSumPayment] [bit] NOT NULL,
	[TotalPremiumAmount] [decimal](18, 2) NULL,
	[PaymentPerPeriod] [decimal](18, 2) NULL,
	[HealthDeclarationId] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TermsAccepted] [bit] NOT NULL,
	[DeclarationAccepted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewNotes] [nvarchar](500) NULL,
	[ReviewedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaseDocument]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseDocument](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentNumber] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FileUrl] [nvarchar](max) NOT NULL,
	[FileType] [nvarchar](max) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[OwnerType] [nvarchar](max) NOT NULL,
	[OwnerId] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[UploadedDate] [datetime2](7) NOT NULL,
	[UploadedBy] [nvarchar](max) NULL,
	[VerifiedDate] [datetime2](7) NULL,
	[VerifiedBy] [nvarchar](max) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[IssueDate] [datetime2](7) NULL,
	[IssuingAuthority] [nvarchar](max) NULL,
	[ApplicationId] [int] NULL,
 CONSTRAINT [PK_BaseDocument] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beneficiaries]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Relationship] [nvarchar](50) NOT NULL,
	[NationalId] [nvarchar](20) NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[SSN] [nvarchar](max) NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Percentage] [decimal](5, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[City] [nvarchar](100) NULL,
	[IsIrrevocable] [bit] NOT NULL,
	[IsMinor] [bit] NOT NULL,
	[PerStirpes] [bit] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[PostalCode] [nvarchar](20) NULL,
	[State] [nvarchar](50) NULL,
	[Trustee] [nvarchar](100) NULL,
	[TrusteeRelationship] [nvarchar](50) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[RelationshipOther] [nvarchar](50) NULL,
	[TrusteeRelationshipOther] [nvarchar](50) NULL,
 CONSTRAINT [PK_Beneficiaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimDocuments]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimDocuments](
	[Id] [int] NOT NULL,
	[ClaimId] [int] NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[IncidentDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ClaimDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerProfiles]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerProfiles](
	[Id] [nvarchar](450) NOT NULL,
	[NationalId] [nvarchar](450) NULL,
	[PassportNumber] [nvarchar](max) NULL,
	[TaxCode] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[District] [nvarchar](max) NULL,
	[Ward] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NOT NULL,
	[Occupation] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[MonthlyIncome] [decimal](18, 2) NULL,
	[KycStatus] [nvarchar](max) NOT NULL,
	[KycVerifiedDate] [datetime2](7) NULL,
	[KycVerifiedBy] [nvarchar](max) NULL,
	[CustomerTier] [nvarchar](max) NOT NULL,
	[LifetimeValue] [decimal](18, 2) NOT NULL,
	[AssignedAgentId] [nvarchar](max) NULL,
	[EmergencyContactName] [nvarchar](max) NULL,
	[EmergencyContactPhone] [nvarchar](max) NULL,
	[EmergencyContactRelationship] [nvarchar](max) NULL,
	[AcceptMarketing] [bit] NOT NULL,
	[PreferredContactMethod] [nvarchar](max) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[EmergencyContactRelationshipOther] [nvarchar](max) NULL,
	[EmergencyContactGender] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[OccupationOther] [nvarchar](max) NULL,
 CONSTRAINT [PK_CustomerProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailVerifications]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailVerifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[VerificationToken] [nvarchar](max) NOT NULL,
	[OTP] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[VerifiedAt] [datetime2](7) NULL,
	[AttemptCount] [int] NOT NULL,
	[LastAttemptAt] [datetime2](7) NULL,
 CONSTRAINT [PK_EmailVerifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeProfiles]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeProfiles](
	[Id] [nvarchar](450) NOT NULL,
	[EmployeeCode] [nvarchar](450) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[EmployeeType] [nvarchar](max) NOT NULL,
	[ManagerId] [nvarchar](max) NULL,
	[JoinDate] [datetime2](7) NOT NULL,
	[ProbationEndDate] [datetime2](7) NULL,
	[ResignDate] [datetime2](7) NULL,
	[EmploymentStatus] [nvarchar](max) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[WorkLocation] [nvarchar](max) NULL,
	[WorkSchedule] [nvarchar](max) NULL,
	[CanApprovePolicy] [bit] NOT NULL,
	[ApprovalLimit] [decimal](18, 2) NOT NULL,
	[CanApproveClaim] [bit] NOT NULL,
	[ClaimApprovalLimit] [decimal](18, 2) NOT NULL,
	[SalesTarget] [decimal](18, 2) NULL,
	[AchievedSales] [decimal](18, 2) NULL,
	[ManagedCustomerCount] [int] NULL,
	[CommissionRate] [decimal](18, 2) NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_EmployeeProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialDocuments]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialDocuments](
	[Id] [int] NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[Period] [nvarchar](max) NULL,
 CONSTRAINT [PK_FinancialDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthDeclarations]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthDeclarations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationSessionId] [int] NULL,
	[CustomerProfileId] [nvarchar](max) NOT NULL,
	[Height] [decimal](18, 2) NOT NULL,
	[Weight] [decimal](18, 2) NOT NULL,
	[BMI] [decimal](18, 2) NOT NULL,
	[BloodType] [nvarchar](max) NULL,
	[IsSmoker] [bit] NOT NULL,
	[SmokingYears] [int] NULL,
	[IsDrinker] [bit] NOT NULL,
	[AlcoholFrequency] [nvarchar](max) NULL,
	[IsExercising] [bit] NOT NULL,
	[ExerciseFrequency] [nvarchar](max) NULL,
	[CurrentMedicationsJson] [nvarchar](max) NULL,
	[PastIllnessesJson] [nvarchar](max) NULL,
	[ChronicConditionsJson] [nvarchar](max) NULL,
	[SurgeriesJson] [nvarchar](max) NULL,
	[AllergiesJson] [nvarchar](max) NULL,
	[FamilyMedicalHistoryJson] [nvarchar](max) NULL,
	[HasHeartDisease] [bit] NOT NULL,
	[HasDiabetes] [bit] NOT NULL,
	[HasCancer] [bit] NOT NULL,
	[HasHypertension] [bit] NOT NULL,
	[HasMentalIllness] [bit] NOT NULL,
	[IsPregnant] [bit] NOT NULL,
	[PregnancyWeeks] [int] NULL,
	[HasHighRiskOccupation] [bit] NOT NULL,
	[OccupationRiskDetails] [nvarchar](max) NULL,
	[WorksWithHazardousMaterials] [bit] NOT NULL,
	[HasFrequentTravel] [bit] NOT NULL,
	[HasRecentHospitalization] [bit] NOT NULL,
	[LastHospitalizationDate] [datetime2](7) NULL,
	[HospitalizationReason] [nvarchar](max) NULL,
	[HasUpcomingSurgery] [bit] NOT NULL,
	[RequiresMedicalExam] [bit] NOT NULL,
	[MedicalExamResultPath] [nvarchar](max) NULL,
	[LabReportPath] [nvarchar](max) NULL,
	[IsDeclarationAccurate] [bit] NOT NULL,
	[DeclarationDate] [datetime2](7) NOT NULL,
	[DeclarationSignature] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ReviewedDate] [datetime2](7) NULL,
	[ReviewedBy] [nvarchar](max) NULL,
	[ReviewNotes] [nvarchar](max) NULL,
	[AlcoholConsumptionLevel] [nvarchar](max) NOT NULL,
	[AlcoholUnitsPerWeek] [int] NULL,
	[AverageSleepHours] [decimal](18, 2) NULL,
	[BloodPressureDiastolic] [int] NULL,
	[BloodPressureSystolic] [int] NULL,
	[CancerDetails] [nvarchar](max) NULL,
	[CancerDiagnosisDate] [datetime2](7) NULL,
	[CancerTreatmentStatus] [nvarchar](max) NULL,
	[CholesterolLevel] [int] NULL,
	[DangerousSportsDetails] [nvarchar](max) NULL,
	[DiabetesDiagnosisDate] [datetime2](7) NULL,
	[DiabetesHbA1c] [decimal](18, 2) NULL,
	[DiabetesTreatmentStatus] [nvarchar](max) NULL,
	[DiabetesType] [nvarchar](max) NULL,
	[DietQuality] [nvarchar](max) NOT NULL,
	[DisabilityDetails] [nvarchar](max) NULL,
	[DrugDetails] [nvarchar](max) NULL,
	[ExerciseHoursPerWeek] [int] NULL,
	[ExerciseLevel] [nvarchar](max) NOT NULL,
	[FamilyCancer] [bit] NOT NULL,
	[FamilyDiabetes] [bit] NOT NULL,
	[FamilyHeartDisease] [bit] NOT NULL,
	[FamilyOtherConditions] [nvarchar](max) NULL,
	[FamilyStroke] [bit] NOT NULL,
	[FatherAgeAtDeath] [int] NULL,
	[FatherCauseOfDeath] [nvarchar](max) NULL,
	[FatherDeceased] [bit] NOT NULL,
	[HIVDiagnosisDate] [datetime2](7) NULL,
	[HIVTreatmentStatus] [nvarchar](max) NULL,
	[HasDisability] [bit] NOT NULL,
	[HasHIV] [bit] NOT NULL,
	[HasHighBloodPressure] [bit] NOT NULL,
	[HasHighCholesterol] [bit] NOT NULL,
	[HasKidneyDisease] [bit] NOT NULL,
	[HasLifeThreateningCondition] [bit] NOT NULL,
	[HasLiverDisease] [bit] NOT NULL,
	[HasMentalHealthCondition] [bit] NOT NULL,
	[HasOccupationalHazards] [bit] NOT NULL,
	[HasPendingMedicalTests] [bit] NOT NULL,
	[HasPlannedProcedures] [bit] NOT NULL,
	[HasPregnancyComplications] [bit] NOT NULL,
	[HasStroke] [bit] NOT NULL,
	[HasSurgeryLast5Years] [bit] NOT NULL,
	[HeartDiseaseDiagnosisDate] [datetime2](7) NULL,
	[HeartDiseaseTreatmentStatus] [nvarchar](max) NULL,
	[HighBloodPressureDiagnosisDate] [datetime2](7) NULL,
	[HighBloodPressureTreatmentStatus] [nvarchar](max) NULL,
	[HighCholesterolDiagnosisDate] [datetime2](7) NULL,
	[HighCholesterolTreatmentStatus] [nvarchar](max) NULL,
	[HospitalizationHistory] [nvarchar](max) NULL,
	[KidneyDiseaseDiagnosisDate] [datetime2](7) NULL,
	[KidneyDiseaseTreatmentStatus] [nvarchar](max) NULL,
	[LastMedicalCheckupDate] [datetime2](7) NULL,
	[LifeThreateningConditionDetails] [nvarchar](max) NULL,
	[LiverDiseaseDiagnosisDate] [datetime2](7) NULL,
	[LiverDiseaseTreatmentStatus] [nvarchar](max) NULL,
	[MedicalConditionDetailsJson] [nvarchar](max) NULL,
	[MedicalConditionsJson] [nvarchar](max) NULL,
	[MedicalRecordsConsent] [bit] NOT NULL,
	[MentalHealthDetails] [nvarchar](max) NULL,
	[MentalHealthDiagnosisDate] [datetime2](7) NULL,
	[MentalHealthTreatmentStatus] [nvarchar](max) NULL,
	[MotherAgeAtDeath] [int] NULL,
	[MotherCauseOfDeath] [nvarchar](max) NULL,
	[MotherDeceased] [bit] NOT NULL,
	[Occupation] [nvarchar](max) NULL,
	[OccupationHazardsDetails] [nvarchar](max) NULL,
	[ParticipatesInDangerousSports] [bit] NOT NULL,
	[PendingTestsDetails] [nvarchar](max) NULL,
	[PlannedProceduresDetails] [nvarchar](max) NULL,
	[PregnancyComplicationDetails] [nvarchar](max) NULL,
	[PregnancyDueDate] [datetime2](7) NULL,
	[RestingHeartRate] [int] NULL,
	[SleepQuality] [nvarchar](max) NOT NULL,
	[SmokingPacksPerDay] [int] NULL,
	[SmokingStatus] [nvarchar](max) NOT NULL,
	[StressLevel] [nvarchar](max) NOT NULL,
	[StrokeDiagnosisDate] [datetime2](7) NULL,
	[StrokeTreatmentStatus] [nvarchar](max) NULL,
	[SurgeryDetails] [nvarchar](max) NULL,
	[UsesDrugs] [bit] NOT NULL,
 CONSTRAINT [PK_HealthDeclarations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthDocuments]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthDocuments](
	[Id] [int] NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[ExaminationDate] [datetime2](7) NULL,
	[DoctorName] [nvarchar](max) NULL,
	[Hospital] [nvarchar](max) NULL,
	[Diagnosis] [nvarchar](max) NULL,
 CONSTRAINT [PK_HealthDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdentityDocuments]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityDocuments](
	[Id] [int] NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[IdNumber] [nvarchar](max) NOT NULL,
	[IssuedPlace] [nvarchar](max) NULL,
 CONSTRAINT [PK_IdentityDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceClaims]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimNumber] [nvarchar](450) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NOT NULL,
	[ClaimDate] [datetime2](7) NOT NULL,
	[IncidentDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ClaimAmount] [decimal](18, 2) NOT NULL,
	[ApprovedAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[AssignedTo] [nvarchar](max) NULL,
	[ReviewedDate] [datetime2](7) NULL,
	[ReviewedBy] [nvarchar](max) NULL,
	[ReviewerNotes] [nvarchar](max) NULL,
	[PaidDate] [datetime2](7) NULL,
	[Priority] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_InsuranceClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsurancePlans]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsurancePlans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[PlanName] [nvarchar](max) NOT NULL,
	[PlanCode] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CoverageAmount] [decimal](18, 2) NOT NULL,
	[TermYears] [int] NOT NULL,
	[AccidentalDeathBenefit] [decimal](18, 2) NULL,
	[DisabilityBenefit] [decimal](18, 2) NULL,
	[CriticalIllnessBenefit] [decimal](18, 2) NULL,
	[IncludesMaternityBenefit] [bit] NOT NULL,
	[IncludesRiderOptions] [bit] NOT NULL,
	[BasePremiumMonthly] [decimal](18, 2) NOT NULL,
	[BasePremiumAnnual] [decimal](18, 2) NOT NULL,
	[AgeMultiplier18_25] [decimal](18, 2) NOT NULL,
	[AgeMultiplier26_35] [decimal](18, 2) NOT NULL,
	[AgeMultiplier36_45] [decimal](18, 2) NOT NULL,
	[AgeMultiplier46_55] [decimal](18, 2) NOT NULL,
	[AgeMultiplier56_65] [decimal](18, 2) NOT NULL,
	[HealthExcellentMultiplier] [decimal](18, 2) NOT NULL,
	[HealthGoodMultiplier] [decimal](18, 2) NOT NULL,
	[HealthFairMultiplier] [decimal](18, 2) NOT NULL,
	[HealthPoorMultiplier] [decimal](18, 2) NOT NULL,
	[MaleMultiplier] [decimal](18, 2) NOT NULL,
	[FemaleMultiplier] [decimal](18, 2) NOT NULL,
	[OccupationLowRiskMultiplier] [decimal](18, 2) NOT NULL,
	[OccupationMediumRiskMultiplier] [decimal](18, 2) NOT NULL,
	[OccupationHighRiskMultiplier] [decimal](18, 2) NOT NULL,
	[MinAge] [int] NOT NULL,
	[MaxAge] [int] NOT NULL,
	[RequiresMedicalExam] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[IsPopular] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[BasePremiumLumpSum] [decimal](18, 2) NOT NULL,
	[BasePremiumQuarterly] [decimal](18, 2) NOT NULL,
	[BasePremiumSemiAnnual] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_InsurancePlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsurancePolicies]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsurancePolicies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](450) NOT NULL,
	[CustomerProfileId] [nvarchar](450) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CoverageAmount] [decimal](18, 2) NOT NULL,
	[TermYears] [int] NOT NULL,
	[Premium] [decimal](18, 2) NOT NULL,
	[PaymentFrequency] [nvarchar](max) NOT NULL,
	[IsLumpSumPayment] [bit] NOT NULL,
	[TotalPremiumAmount] [decimal](18, 2) NULL,
	[PaymentPerPeriod] [decimal](18, 2) NULL,
	[TotalPayments] [int] NULL,
	[ApplicationDate] [datetime2](7) NOT NULL,
	[ApprovalDate] [datetime2](7) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[AgentId] [nvarchar](max) NULL,
	[ApprovedBy] [nvarchar](max) NULL,
	[BeneficiariesJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_InsurancePolicies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceProducts]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](max) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[ProductType] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Features] [nvarchar](max) NULL,
	[ProcessingFee] [decimal](18, 2) NOT NULL,
	[PolicyIssuanceFee] [decimal](18, 2) NOT NULL,
	[MedicalCheckupFee] [decimal](18, 2) NOT NULL,
	[AdminFee] [decimal](18, 2) NOT NULL,
	[LumpSumDiscount] [decimal](18, 2) NOT NULL,
	[MonthlySurcharge] [decimal](18, 2) NOT NULL,
	[QuarterlySurcharge] [decimal](18, 2) NOT NULL,
	[SemiAnnualSurcharge] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_InsuranceProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYCDocuments]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYCDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[CustomerProfileId] [nvarchar](max) NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[ContentType] [nvarchar](max) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[NationalId] [nvarchar](max) NULL,
	[DocumentIssueDate] [datetime2](7) NULL,
	[DocumentIssuedBy] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewedBy] [nvarchar](max) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[ReviewNotes] [nvarchar](max) NULL,
	[ExtractedData] [nvarchar](max) NULL,
	[VerificationScore] [decimal](18, 2) NULL,
	[IsFaceMatched] [bit] NULL,
 CONSTRAINT [PK_KYCDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYCVerifications]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYCVerifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationSessionId] [int] NOT NULL,
	[CustomerProfileId] [nvarchar](max) NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[DocumentNumber] [nvarchar](max) NOT NULL,
	[DocumentIssueDate] [datetime2](7) NULL,
	[DocumentExpiryDate] [datetime2](7) NULL,
	[DocumentIssuedBy] [nvarchar](max) NULL,
	[ExtractedFullName] [nvarchar](max) NULL,
	[ExtractedDateOfBirth] [datetime2](7) NULL,
	[ExtractedGender] [nvarchar](max) NULL,
	[ExtractedNationality] [nvarchar](max) NULL,
	[ExtractedAddress] [nvarchar](max) NULL,
	[IsFaceMatched] [bit] NOT NULL,
	[FaceMatchScore] [decimal](18, 2) NULL,
	[IsDocumentAuthentic] [bit] NOT NULL,
	[AuthenticityScore] [decimal](18, 2) NULL,
	[IsBlacklisted] [bit] NOT NULL,
	[IsFraudulent] [bit] NOT NULL,
	[RiskLevel] [nvarchar](max) NULL,
	[VerificationStatus] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CompletedDate] [datetime2](7) NULL,
	[VerifiedBy] [nvarchar](max) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[FrontImagePath] [nvarchar](max) NULL,
	[BackImagePath] [nvarchar](max) NULL,
	[SelfiePath] [nvarchar](max) NULL,
	[OCRResponseJson] [nvarchar](max) NULL,
	[FaceMatchResponseJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_KYCVerifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [nvarchar](450) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[PaymentDate] [datetime2](7) NULL,
	[PaymentFrequency] [nvarchar](max) NOT NULL,
	[IsLumpSum] [bit] NOT NULL,
	[PaymentNumber] [int] NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ReceiptUrl] [nvarchar](max) NULL,
	[PaymentNote] [nvarchar](max) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneVerifications]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneVerifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[PhoneNumber] [nvarchar](450) NOT NULL,
	[OTP] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[VerifiedAt] [datetime2](7) NULL,
	[AttemptCount] [int] NOT NULL,
	[LastAttemptAt] [datetime2](7) NULL,
	[ResendCount] [int] NOT NULL,
	[LastResendAt] [datetime2](7) NULL,
	[DeliveryStatus] [nvarchar](max) NULL,
	[SmsProvider] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhoneVerifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyDocuments]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyDocuments](
	[Id] [int] NOT NULL,
	[PolicyId] [int] NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[Version] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PolicyDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyLoans]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyLoans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoanNumber] [nvarchar](450) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[LoanAmount] [decimal](18, 2) NOT NULL,
	[InterestRate] [decimal](18, 2) NOT NULL,
	[MaxLoanAmount] [decimal](18, 2) NOT NULL,
	[RepaymentMonths] [int] NOT NULL,
	[MonthlyRepayment] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ApplicationDate] [datetime2](7) NOT NULL,
	[ApprovalDate] [datetime2](7) NULL,
	[ApprovedBy] [nvarchar](max) NULL,
	[DisbursementDate] [datetime2](7) NULL,
	[OutstandingAmount] [decimal](18, 2) NOT NULL,
	[RejectionReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_PolicyLoans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyInfos]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[PropertyType] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[District] [nvarchar](100) NOT NULL,
	[Ward] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[LandArea] [decimal](10, 2) NULL,
	[FloorArea] [decimal](10, 2) NULL,
	[NumberOfFloors] [int] NULL,
	[NumberOfRooms] [int] NULL,
	[NumberOfBathrooms] [int] NULL,
	[YearBuilt] [int] NULL,
	[YearRenovated] [int] NULL,
	[ConstructionType] [nvarchar](50) NOT NULL,
	[RoofType] [nvarchar](50) NULL,
	[WallMaterial] [nvarchar](50) NULL,
	[FloorMaterial] [nvarchar](50) NULL,
	[PropertyValue] [decimal](18, 2) NOT NULL,
	[ContentsValue] [decimal](18, 2) NULL,
	[OwnerName] [nvarchar](100) NOT NULL,
	[OwnerNationalId] [nvarchar](20) NULL,
	[IsOwnerOccupied] [bit] NOT NULL,
	[OwnershipType] [nvarchar](50) NULL,
	[PurchaseDate] [datetime2](7) NULL,
	[PurchasePrice] [decimal](18, 2) NULL,
	[HasMortgage] [bit] NOT NULL,
	[MortgageProvider] [nvarchar](100) NULL,
	[OutstandingLoanAmount] [decimal](18, 2) NULL,
	[OccupancyType] [nvarchar](50) NOT NULL,
	[IsCommercialUse] [bit] NOT NULL,
	[CommercialUseDetails] [nvarchar](200) NULL,
	[HasSecuritySystem] [bit] NOT NULL,
	[HasFireAlarm] [bit] NOT NULL,
	[HasSmokeDetector] [bit] NOT NULL,
	[HasBurglarAlarm] [bit] NOT NULL,
	[HasCCTV] [bit] NOT NULL,
	[HasSecurityGuard] [bit] NOT NULL,
	[HasGatedCommunity] [bit] NOT NULL,
	[HasSwimmingPool] [bit] NOT NULL,
	[HasGarden] [bit] NOT NULL,
	[HasGarage] [bit] NOT NULL,
	[NumberOfParkingSpaces] [int] NULL,
	[HasElevator] [bit] NOT NULL,
	[HasGenerator] [bit] NOT NULL,
	[FloodRiskLevel] [nvarchar](50) NULL,
	[EarthquakeRiskLevel] [nvarchar](50) NULL,
	[IsNearWater] [bit] NOT NULL,
	[IsNearForest] [bit] NOT NULL,
	[DistanceToFireStation] [decimal](10, 2) NULL,
	[DistanceToPoliceStation] [decimal](10, 2) NULL,
	[PropertyCondition] [nvarchar](50) NOT NULL,
	[LastInspectionDate] [datetime2](7) NULL,
	[LastMaintenanceDate] [datetime2](7) NULL,
	[KnownDefects] [nvarchar](1000) NULL,
	[HasPreviousInsurance] [bit] NOT NULL,
	[PreviousInsurerName] [nvarchar](100) NULL,
	[PreviousPolicyExpiryDate] [datetime2](7) NULL,
	[HasClaimHistory] [bit] NOT NULL,
	[NumberOfClaims] [int] NULL,
	[TotalClaimAmount] [decimal](18, 2) NULL,
	[ClaimHistoryDetails] [nvarchar](max) NULL,
	[PropertyDeedPath] [nvarchar](500) NULL,
	[PropertyPhotoPaths] [nvarchar](500) NULL,
	[InspectionReportPath] [nvarchar](500) NULL,
	[ValuationReportPath] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PropertyInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationSessions]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[SessionToken] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CompletedDate] [datetime2](7) NULL,
	[LastUpdateDate] [datetime2](7) NOT NULL,
	[CurrentStep] [nvarchar](max) NOT NULL,
	[RegistrationStatus] [nvarchar](max) NOT NULL,
	[IsAccountCreated] [bit] NOT NULL,
	[IsKYCCompleted] [bit] NOT NULL,
	[IsProfileCompleted] [bit] NOT NULL,
	[IsProductSelected] [bit] NOT NULL,
	[IsHealthDeclared] [bit] NOT NULL,
	[IsUnderwritingCompleted] [bit] NOT NULL,
	[IsPaymentCompleted] [bit] NOT NULL,
	[IsPolicyIssued] [bit] NOT NULL,
	[SelectedProductId] [int] NULL,
	[SelectedCoverageAmount] [decimal](18, 2) NULL,
	[SelectedTermYears] [int] NULL,
	[SelectedPaymentFrequency] [nvarchar](max) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedPolicyId] [int] NULL,
 CONSTRAINT [PK_RegistrationSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaims]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelInfos]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[TripType] [nvarchar](50) NOT NULL,
	[Destination] [nvarchar](100) NOT NULL,
	[DestinationDetails] [nvarchar](500) NULL,
	[DepartureDate] [datetime2](7) NOT NULL,
	[ReturnDate] [datetime2](7) NOT NULL,
	[TripDuration] [int] NOT NULL,
	[TravelPurpose] [nvarchar](50) NOT NULL,
	[PurposeDetails] [nvarchar](500) NULL,
	[NumberOfTravelers] [int] NOT NULL,
	[TravelersDetails] [nvarchar](max) NULL,
	[IncludesChildren] [bit] NOT NULL,
	[NumberOfChildren] [int] NULL,
	[IncludesElderly] [bit] NOT NULL,
	[IncludesPregnantTraveler] [bit] NOT NULL,
	[PregnancyWeeks] [int] NULL,
	[RiskLevel] [nvarchar](50) NULL,
	[IncludesAdventureSports] [bit] NOT NULL,
	[PlannedActivities] [nvarchar](max) NULL,
	[IncludesWaterSports] [bit] NOT NULL,
	[IncludesWinterSports] [bit] NOT NULL,
	[IncludesExtremeSports] [bit] NOT NULL,
	[IncludesMountainClimbing] [bit] NOT NULL,
	[PrimaryTransport] [nvarchar](50) NOT NULL,
	[FlightDetails] [nvarchar](500) NULL,
	[IncludesCarRental] [bit] NOT NULL,
	[IncludesCruise] [bit] NOT NULL,
	[AccommodationType] [nvarchar](50) NULL,
	[AccommodationCost] [decimal](18, 2) NULL,
	[IsPrePaid] [bit] NOT NULL,
	[HasPreExistingConditions] [bit] NOT NULL,
	[PreExistingConditionsDetails] [nvarchar](1000) NULL,
	[RequiresMedication] [bit] NOT NULL,
	[HasTravelVaccinations] [bit] NOT NULL,
	[VaccinationDetails] [nvarchar](max) NULL,
	[VisitingHighRiskRegion] [bit] NOT NULL,
	[HighRiskRegionDetails] [nvarchar](500) NULL,
	[MedicalCoverageAmount] [decimal](18, 2) NOT NULL,
	[TripCancellationCoverage] [decimal](18, 2) NULL,
	[LuggageCoverage] [decimal](18, 2) NULL,
	[PersonalLiabilityCoverage] [decimal](18, 2) NULL,
	[IncludesEmergencyEvacuation] [bit] NOT NULL,
	[IncludesTripDelay] [bit] NOT NULL,
	[IncludesMissedConnection] [bit] NOT NULL,
	[TotalTripCost] [decimal](18, 2) NULL,
	[NonRefundableDeposit] [decimal](18, 2) NULL,
	[FirstDepositDate] [datetime2](7) NULL,
	[HasTravelInsuranceHistory] [bit] NOT NULL,
	[HasPreviousClaims] [bit] NOT NULL,
	[NumberOfPreviousClaims] [int] NULL,
	[PreviousClaimAmount] [decimal](18, 2) NULL,
	[ClaimHistoryDetails] [nvarchar](max) NULL,
	[EmergencyContactName] [nvarchar](100) NOT NULL,
	[EmergencyContactPhone] [nvarchar](20) NOT NULL,
	[EmergencyContactRelationship] [nvarchar](50) NOT NULL,
	[SecondaryEmergencyContactName] [nvarchar](100) NULL,
	[SecondaryEmergencyContactPhone] [nvarchar](20) NULL,
	[DestinationRiskLevel] [nvarchar](50) NULL,
	[HasTravelAdvisory] [bit] NOT NULL,
	[TravelAdvisoryDetails] [nvarchar](1000) NULL,
	[RequiresVisa] [bit] NOT NULL,
	[VisaObtained] [bit] NOT NULL,
	[PassportCopyPath] [nvarchar](500) NULL,
	[VisaCopyPath] [nvarchar](500) NULL,
	[FlightTicketPath] [nvarchar](500) NULL,
	[HotelBookingPath] [nvarchar](500) NULL,
	[ItineraryPath] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_TravelInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnderwritingDecisions]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnderwritingDecisions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationSessionId] [int] NOT NULL,
	[CustomerProfileId] [nvarchar](max) NOT NULL,
	[PolicyId] [int] NULL,
	[Decision] [nvarchar](max) NOT NULL,
	[DecisionDate] [datetime2](7) NOT NULL,
	[DecisionBy] [nvarchar](max) NULL,
	[RiskLevel] [nvarchar](max) NOT NULL,
	[RiskScore] [int] NOT NULL,
	[RiskFactorsJson] [nvarchar](max) NULL,
	[IsAutoApprovalEligible] [bit] NOT NULL,
	[AutoApprovalReasons] [nvarchar](max) NULL,
	[RequiresMedicalExam] [bit] NOT NULL,
	[RequiresAdditionalDocuments] [bit] NOT NULL,
	[RequiredDocumentsList] [nvarchar](max) NULL,
	[OriginalPremium] [decimal](18, 2) NOT NULL,
	[AdjustedPremium] [decimal](18, 2) NULL,
	[PremiumLoadingPercentage] [decimal](18, 2) NULL,
	[PremiumAdjustmentReason] [nvarchar](max) NULL,
	[RequestedCoverageAmount] [decimal](18, 2) NOT NULL,
	[ApprovedCoverageAmount] [decimal](18, 2) NULL,
	[CoverageModificationReason] [nvarchar](max) NULL,
	[ExclusionsJson] [nvarchar](max) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[RejectionDetails] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ReviewStartDate] [datetime2](7) NULL,
	[ReviewCompletedDate] [datetime2](7) NULL,
	[UnderwriterNotes] [nvarchar](max) NULL,
	[CommunicationToCustomer] [nvarchar](max) NULL,
 CONSTRAINT [PK_UnderwritingDecisions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[ProfileType] [nvarchar](max) NULL,
	[ProfileId] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleInfos]    Script Date: 12/8/2025 7:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[VehicleType] [nvarchar](50) NOT NULL,
	[Make] [nvarchar](100) NOT NULL,
	[Model] [nvarchar](100) NOT NULL,
	[ManufactureYear] [int] NOT NULL,
	[Color] [nvarchar](50) NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[ChassisNumber] [nvarchar](50) NULL,
	[EngineNumber] [nvarchar](50) NULL,
	[EngineCapacity] [decimal](10, 2) NULL,
	[FuelType] [nvarchar](50) NULL,
	[NumberOfSeats] [int] NULL,
	[VehicleValue] [decimal](18, 2) NULL,
	[OwnerName] [nvarchar](100) NOT NULL,
	[OwnerNationalId] [nvarchar](20) NULL,
	[RegistrationAddress] [nvarchar](200) NOT NULL,
	[RegistrationDate] [datetime2](7) NULL,
	[RegistrationExpiryDate] [datetime2](7) NULL,
	[UsagePurpose] [nvarchar](50) NOT NULL,
	[AnnualMileage] [decimal](18, 2) NULL,
	[ParkingLocation] [nvarchar](200) NULL,
	[HasAntiTheftDevice] [bit] NOT NULL,
	[HasDashcam] [bit] NOT NULL,
	[HasPreviousInsurance] [bit] NOT NULL,
	[PreviousInsurerName] [nvarchar](100) NULL,
	[PreviousPolicyExpiryDate] [datetime2](7) NULL,
	[HasClaimHistory] [bit] NOT NULL,
	[NumberOfClaims] [int] NULL,
	[TotalClaimAmount] [decimal](18, 2) NULL,
	[ClaimHistoryDetails] [nvarchar](max) NULL,
	[HasModifications] [bit] NOT NULL,
	[ModificationDetails] [nvarchar](1000) NULL,
	[Condition] [nvarchar](50) NOT NULL,
	[LastMaintenanceDate] [datetime2](7) NULL,
	[RegistrationCertificatePath] [nvarchar](500) NULL,
	[VehiclePhotoPaths] [nvarchar](500) NULL,
	[InspectionReportPath] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_VehicleInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251204065336_InitialCreate', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251204171129_AddProductManagementFields', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251204200335_AddBasePremiumFrequencies', N'9.0.10')
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[BaseDocument] ON 

SET IDENTITY_INSERT [dbo].[BaseDocument] OFF
GO
SET IDENTITY_INSERT [dbo].[Beneficiaries] ON 

SET IDENTITY_INSERT [dbo].[Beneficiaries] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Code], [Name], [Description], [IsActive]) VALUES (1, N'ADMIN', N'Administration', N'System administration', 1)
INSERT [dbo].[Departments] ([Id], [Code], [Name], [Description], [IsActive]) VALUES (2, N'SALES', N'Sales', N'Insurance sales and marketing', 1)
INSERT [dbo].[Departments] ([Id], [Code], [Name], [Description], [IsActive]) VALUES (3, N'UNDERWRITING', N'Underwriting', N'Policy underwriting and risk assessment', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthDeclarations] ON 

SET IDENTITY_INSERT [dbo].[HealthDeclarations] OFF
GO
SET IDENTITY_INSERT [dbo].[InsurancePlans] ON 

SET IDENTITY_INSERT [dbo].[InsurancePlans] OFF
GO
SET IDENTITY_INSERT [dbo].[InsurancePolicies] ON 

SET IDENTITY_INSERT [dbo].[InsurancePolicies] OFF
GO
SET IDENTITY_INSERT [dbo].[InsuranceProducts] ON 

SET IDENTITY_INSERT [dbo].[InsuranceProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [TransactionId], [PolicyId], [Amount], [DueDate], [PaymentDate], [PaymentFrequency], [IsLumpSum], [PaymentNumber], [PaymentMethod], [Status], [ReceiptUrl], [PaymentNote]) VALUES (1, N'TXN-POL-LIFE-001-001', 1, CAST(2400.00 AS Decimal(18, 2)), CAST(N'2025-12-06T13:41:43.7279962' AS DateTime2), CAST(N'2025-12-08T13:41:43.7279962' AS DateTime2), N'Monthly', 0, NULL, N'CreditCard', N'Paid', NULL, N'Monthly premium payment #1')
INSERT [dbo].[Payments] ([Id], [TransactionId], [PolicyId], [Amount], [DueDate], [PaymentDate], [PaymentFrequency], [IsLumpSum], [PaymentNumber], [PaymentMethod], [Status], [ReceiptUrl], [PaymentNote]) VALUES (2, N'TXN-POL-LIFE-001-002', 1, CAST(2400.00 AS Decimal(18, 2)), CAST(N'2026-01-06T13:41:43.7279962' AS DateTime2), CAST(N'2026-01-08T13:41:43.7279962' AS DateTime2), N'Monthly', 0, NULL, N'BankTransfer', N'Paid', NULL, N'Monthly premium payment #2')
INSERT [dbo].[Payments] ([Id], [TransactionId], [PolicyId], [Amount], [DueDate], [PaymentDate], [PaymentFrequency], [IsLumpSum], [PaymentNumber], [PaymentMethod], [Status], [ReceiptUrl], [PaymentNote]) VALUES (3, N'TXN-POL-LIFE-001-003', 1, CAST(2400.00 AS Decimal(18, 2)), CAST(N'2026-02-06T13:41:43.7279962' AS DateTime2), CAST(N'2026-02-08T13:41:43.7279962' AS DateTime2), N'Monthly', 0, NULL, N'CreditCard', N'Paid', NULL, N'Monthly premium payment #3')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiryDate], [IsRevoked], [CreatedDate]) VALUES (64, N'7c8714cd-b248-4cfc-a250-2306fcc5a7d4', N'VpV/rLZkTmLm5Iq08BkVEU/pUKWcl1l9ZQpFmM92ZnZUqInvwuht3WwA/1Zqxqg8KlqA1IQs81Ouv7ALWBfZkg==', CAST(N'2025-12-15T08:23:55.3365793' AS DateTime2), 1, CAST(N'2025-12-08T08:23:55.3366319' AS DateTime2))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiryDate], [IsRevoked], [CreatedDate]) VALUES (65, N'7c8714cd-b248-4cfc-a250-2306fcc5a7d4', N'rdvLe3FDTuUeupEjbBNzdl3tbc0ZBC6I0W+1JvWoHPXtvhiQOCQA/YyR6K4PHtp0R4wLPhtQkvTCFleKgzowyQ==', CAST(N'2025-12-15T08:43:05.6404240' AS DateTime2), 1, CAST(N'2025-12-08T08:43:05.6404673' AS DateTime2))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiryDate], [IsRevoked], [CreatedDate]) VALUES (66, N'7c8714cd-b248-4cfc-a250-2306fcc5a7d4', N'GsOV6020XEC/7XlJ4WPy9SoMQtAZz5S7idnaGBl22QCw38YHtCaxORGNOyv3ieLb6v+RW4wl7e6zAhmRt3HB7g==', CAST(N'2025-12-15T08:47:25.5793113' AS DateTime2), 1, CAST(N'2025-12-08T08:47:25.5793118' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'14766b94-cff7-4ec1-9424-f6ca7da391af', N'Customer', N'CUSTOMER', NULL)
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1ab3d15b-2090-4bc6-ad68-4bf40ac72f08', N'Agent', N'AGENT', NULL)
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'6b82bbd0-d27b-4708-af6d-d5247366c9e8', N'Admin', N'ADMIN', NULL)
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'7c8714cd-b248-4cfc-a250-2306fcc5a7d4', N'14766b94-cff7-4ec1-9424-f6ca7da391af')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'9c1741fe-a385-40cd-8608-592d24323a81', N'14766b94-cff7-4ec1-9424-f6ca7da391af')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'bc99c39f-0d11-4be9-a758-03f28078fe31', N'14766b94-cff7-4ec1-9424-f6ca7da391af')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationDrafts_UserId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationDrafts_UserId] ON [dbo].[ApplicationDrafts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_HealthDeclarationId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_HealthDeclarationId] ON [dbo].[Applications]
(
	[HealthDeclarationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_ProductId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ProductId] ON [dbo].[Applications]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Beneficiaries_ApplicationId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Beneficiaries_ApplicationId] ON [dbo].[Beneficiaries]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CustomerProfiles_Email]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerProfiles_Email] ON [dbo].[CustomerProfiles]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CustomerProfiles_NationalId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerProfiles_NationalId] ON [dbo].[CustomerProfiles]
(
	[NationalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailVerifications_UserId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailVerifications_UserId] ON [dbo].[EmailVerifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeProfiles_DepartmentId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeProfiles_DepartmentId] ON [dbo].[EmployeeProfiles]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmployeeProfiles_EmployeeCode]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployeeProfiles_EmployeeCode] ON [dbo].[EmployeeProfiles]
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthDeclarations_RegistrationSessionId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_HealthDeclarations_RegistrationSessionId] ON [dbo].[HealthDeclarations]
(
	[RegistrationSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InsuranceClaims_ClaimNumber]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InsuranceClaims_ClaimNumber] ON [dbo].[InsuranceClaims]
(
	[ClaimNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InsuranceClaims_PolicyId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_InsuranceClaims_PolicyId] ON [dbo].[InsuranceClaims]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InsurancePlans_ProductId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_InsurancePlans_ProductId] ON [dbo].[InsurancePlans]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InsurancePolicies_CustomerProfileId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_InsurancePolicies_CustomerProfileId] ON [dbo].[InsurancePolicies]
(
	[CustomerProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InsurancePolicies_PolicyNumber]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InsurancePolicies_PolicyNumber] ON [dbo].[InsurancePolicies]
(
	[PolicyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InsurancePolicies_ProductId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_InsurancePolicies_ProductId] ON [dbo].[InsurancePolicies]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KYCVerifications_RegistrationSessionId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_KYCVerifications_RegistrationSessionId] ON [dbo].[KYCVerifications]
(
	[RegistrationSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_PolicyId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PolicyId] ON [dbo].[Payments]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_TransactionId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Payments_TransactionId] ON [dbo].[Payments]
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhoneVerifications_PhoneNumber_IsVerified]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhoneVerifications_PhoneNumber_IsVerified] ON [dbo].[PhoneVerifications]
(
	[PhoneNumber] ASC,
	[IsVerified] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhoneVerifications_UserId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhoneVerifications_UserId] ON [dbo].[PhoneVerifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PolicyLoans_LoanNumber]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PolicyLoans_LoanNumber] ON [dbo].[PolicyLoans]
(
	[LoanNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyLoans_PolicyId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_PolicyLoans_PolicyId] ON [dbo].[PolicyLoans]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PropertyInfos_Address_City]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_PropertyInfos_Address_City] ON [dbo].[PropertyInfos]
(
	[Address] ASC,
	[City] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyInfos_ApplicationId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PropertyInfos_ApplicationId] ON [dbo].[PropertyInfos]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshTokens_UserId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegistrationSessions_CreatedPolicyId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_RegistrationSessions_CreatedPolicyId] ON [dbo].[RegistrationSessions]
(
	[CreatedPolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleClaims_RoleId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleClaims_RoleId] ON [dbo].[RoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[Roles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TravelInfos_ApplicationId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TravelInfos_ApplicationId] ON [dbo].[TravelInfos]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TravelInfos_DepartureDate_ReturnDate]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_TravelInfos_DepartureDate_ReturnDate] ON [dbo].[TravelInfos]
(
	[DepartureDate] ASC,
	[ReturnDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnderwritingDecisions_PolicyId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnderwritingDecisions_PolicyId] ON [dbo].[UnderwritingDecisions]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnderwritingDecisions_RegistrationSessionId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnderwritingDecisions_RegistrationSessionId] ON [dbo].[UnderwritingDecisions]
(
	[RegistrationSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserClaims_UserId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserClaims_UserId] ON [dbo].[UserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserLogins_UserId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserLogins_UserId] ON [dbo].[UserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[Users]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Users]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleInfos_ApplicationId]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_VehicleInfos_ApplicationId] ON [dbo].[VehicleInfos]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VehicleInfos_LicensePlate]    Script Date: 12/8/2025 7:51:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_VehicleInfos_LicensePlate] ON [dbo].[VehicleInfos]
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT (N'') FOR [Gender]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsIrrevocable]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsMinor]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT (CONVERT([bit],(0))) FOR [PerStirpes]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT (N'') FOR [Phone]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT (N'') FOR [Type]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (N'') FOR [AlcoholConsumptionLevel]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (N'') FOR [DietQuality]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (N'') FOR [ExerciseLevel]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [FamilyCancer]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [FamilyDiabetes]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [FamilyHeartDisease]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [FamilyStroke]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [FatherDeceased]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasDisability]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasHIV]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasHighBloodPressure]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasHighCholesterol]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasKidneyDisease]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasLifeThreateningCondition]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasLiverDisease]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasMentalHealthCondition]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasOccupationalHazards]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasPendingMedicalTests]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasPlannedProcedures]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasPregnancyComplications]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasStroke]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasSurgeryLast5Years]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [MedicalRecordsConsent]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [MotherDeceased]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ParticipatesInDangerousSports]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (N'') FOR [SleepQuality]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (N'') FOR [SmokingStatus]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (N'') FOR [StressLevel]
GO
ALTER TABLE [dbo].[HealthDeclarations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [UsesDrugs]
GO
ALTER TABLE [dbo].[InsuranceClaims] ADD  DEFAULT (N'') FOR [Priority]
GO
ALTER TABLE [dbo].[InsurancePlans] ADD  DEFAULT ((0.0)) FOR [BasePremiumLumpSum]
GO
ALTER TABLE [dbo].[InsurancePlans] ADD  DEFAULT ((0.0)) FOR [BasePremiumQuarterly]
GO
ALTER TABLE [dbo].[InsurancePlans] ADD  DEFAULT ((0.0)) FOR [BasePremiumSemiAnnual]
GO
ALTER TABLE [dbo].[InsuranceProducts] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InsuranceProducts] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[InsuranceProducts] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[InsuranceProducts] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ApplicationDrafts]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationDrafts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationDrafts] CHECK CONSTRAINT [FK_ApplicationDrafts_Users_UserId]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_HealthDeclarations_HealthDeclarationId] FOREIGN KEY([HealthDeclarationId])
REFERENCES [dbo].[HealthDeclarations] ([Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_HealthDeclarations_HealthDeclarationId]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_InsuranceProducts_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[InsuranceProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_InsuranceProducts_ProductId]
GO
ALTER TABLE [dbo].[Beneficiaries]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiaries_Applications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Beneficiaries] CHECK CONSTRAINT [FK_Beneficiaries_Applications_ApplicationId]
GO
ALTER TABLE [dbo].[ClaimDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ClaimDocuments_BaseDocument_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[BaseDocument] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClaimDocuments] CHECK CONSTRAINT [FK_ClaimDocuments_BaseDocument_Id]
GO
ALTER TABLE [dbo].[EmailVerifications]  WITH CHECK ADD  CONSTRAINT [FK_EmailVerifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmailVerifications] CHECK CONSTRAINT [FK_EmailVerifications_Users_UserId]
GO
ALTER TABLE [dbo].[EmployeeProfiles]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeProfiles_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[EmployeeProfiles] CHECK CONSTRAINT [FK_EmployeeProfiles_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[FinancialDocuments]  WITH CHECK ADD  CONSTRAINT [FK_FinancialDocuments_BaseDocument_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[BaseDocument] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FinancialDocuments] CHECK CONSTRAINT [FK_FinancialDocuments_BaseDocument_Id]
GO
ALTER TABLE [dbo].[HealthDeclarations]  WITH CHECK ADD  CONSTRAINT [FK_HealthDeclarations_RegistrationSessions_RegistrationSessionId] FOREIGN KEY([RegistrationSessionId])
REFERENCES [dbo].[RegistrationSessions] ([Id])
GO
ALTER TABLE [dbo].[HealthDeclarations] CHECK CONSTRAINT [FK_HealthDeclarations_RegistrationSessions_RegistrationSessionId]
GO
ALTER TABLE [dbo].[HealthDocuments]  WITH CHECK ADD  CONSTRAINT [FK_HealthDocuments_BaseDocument_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[BaseDocument] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HealthDocuments] CHECK CONSTRAINT [FK_HealthDocuments_BaseDocument_Id]
GO
ALTER TABLE [dbo].[IdentityDocuments]  WITH CHECK ADD  CONSTRAINT [FK_IdentityDocuments_BaseDocument_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[BaseDocument] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityDocuments] CHECK CONSTRAINT [FK_IdentityDocuments_BaseDocument_Id]
GO
ALTER TABLE [dbo].[InsuranceClaims]  WITH CHECK ADD  CONSTRAINT [FK_InsuranceClaims_InsurancePolicies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[InsurancePolicies] ([Id])
GO
ALTER TABLE [dbo].[InsuranceClaims] CHECK CONSTRAINT [FK_InsuranceClaims_InsurancePolicies_PolicyId]
GO
ALTER TABLE [dbo].[InsurancePlans]  WITH CHECK ADD  CONSTRAINT [FK_InsurancePlans_InsuranceProducts_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[InsuranceProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InsurancePlans] CHECK CONSTRAINT [FK_InsurancePlans_InsuranceProducts_ProductId]
GO
ALTER TABLE [dbo].[InsurancePolicies]  WITH CHECK ADD  CONSTRAINT [FK_InsurancePolicies_CustomerProfiles_CustomerProfileId] FOREIGN KEY([CustomerProfileId])
REFERENCES [dbo].[CustomerProfiles] ([Id])
GO
ALTER TABLE [dbo].[InsurancePolicies] CHECK CONSTRAINT [FK_InsurancePolicies_CustomerProfiles_CustomerProfileId]
GO
ALTER TABLE [dbo].[InsurancePolicies]  WITH CHECK ADD  CONSTRAINT [FK_InsurancePolicies_InsuranceProducts_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[InsuranceProducts] ([Id])
GO
ALTER TABLE [dbo].[InsurancePolicies] CHECK CONSTRAINT [FK_InsurancePolicies_InsuranceProducts_ProductId]
GO
ALTER TABLE [dbo].[KYCVerifications]  WITH CHECK ADD  CONSTRAINT [FK_KYCVerifications_RegistrationSessions_RegistrationSessionId] FOREIGN KEY([RegistrationSessionId])
REFERENCES [dbo].[RegistrationSessions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KYCVerifications] CHECK CONSTRAINT [FK_KYCVerifications_RegistrationSessions_RegistrationSessionId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_InsurancePolicies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[InsurancePolicies] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_InsurancePolicies_PolicyId]
GO
ALTER TABLE [dbo].[PhoneVerifications]  WITH CHECK ADD  CONSTRAINT [FK_PhoneVerifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhoneVerifications] CHECK CONSTRAINT [FK_PhoneVerifications_Users_UserId]
GO
ALTER TABLE [dbo].[PolicyDocuments]  WITH CHECK ADD  CONSTRAINT [FK_PolicyDocuments_BaseDocument_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[BaseDocument] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyDocuments] CHECK CONSTRAINT [FK_PolicyDocuments_BaseDocument_Id]
GO
ALTER TABLE [dbo].[PolicyLoans]  WITH CHECK ADD  CONSTRAINT [FK_PolicyLoans_InsurancePolicies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[InsurancePolicies] ([Id])
GO
ALTER TABLE [dbo].[PolicyLoans] CHECK CONSTRAINT [FK_PolicyLoans_InsurancePolicies_PolicyId]
GO
ALTER TABLE [dbo].[PropertyInfos]  WITH CHECK ADD  CONSTRAINT [FK_PropertyInfos_Applications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyInfos] CHECK CONSTRAINT [FK_PropertyInfos_Applications_ApplicationId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[RegistrationSessions]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationSessions_InsurancePolicies_CreatedPolicyId] FOREIGN KEY([CreatedPolicyId])
REFERENCES [dbo].[InsurancePolicies] ([Id])
GO
ALTER TABLE [dbo].[RegistrationSessions] CHECK CONSTRAINT [FK_RegistrationSessions_InsurancePolicies_CreatedPolicyId]
GO
ALTER TABLE [dbo].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[TravelInfos]  WITH CHECK ADD  CONSTRAINT [FK_TravelInfos_Applications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TravelInfos] CHECK CONSTRAINT [FK_TravelInfos_Applications_ApplicationId]
GO
ALTER TABLE [dbo].[UnderwritingDecisions]  WITH CHECK ADD  CONSTRAINT [FK_UnderwritingDecisions_InsurancePolicies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[InsurancePolicies] ([Id])
GO
ALTER TABLE [dbo].[UnderwritingDecisions] CHECK CONSTRAINT [FK_UnderwritingDecisions_InsurancePolicies_PolicyId]
GO
ALTER TABLE [dbo].[UnderwritingDecisions]  WITH CHECK ADD  CONSTRAINT [FK_UnderwritingDecisions_RegistrationSessions_RegistrationSessionId] FOREIGN KEY([RegistrationSessionId])
REFERENCES [dbo].[RegistrationSessions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnderwritingDecisions] CHECK CONSTRAINT [FK_UnderwritingDecisions_RegistrationSessions_RegistrationSessionId]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_Users_UserId]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UserId]
GO
ALTER TABLE [dbo].[VehicleInfos]  WITH CHECK ADD  CONSTRAINT [FK_VehicleInfos_Applications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleInfos] CHECK CONSTRAINT [FK_VehicleInfos_Applications_ApplicationId]
GO
USE [master]
GO
